.container {
    padding: 36px 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
}

.form {
    display: flex;
    gap: 8px;
}

input {
    outline: none;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
}

input:hover {
    border-color: #000;
}

input:focus {
    border-color: #4e75ff;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

.search-button {
    width: 91px;
}

.load-more-button {
    width: 125px;
}

button:hover {
    background-color: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    width: 100%;
    gap: 24px;
}

.gallery-bottom-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    height: 48px;
    background-color: #fff;
}

.gallery-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-wrapper-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.gallery-wrapper-value {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 152px;
    object-fit: cover;
}

.gallery-link {
    display: block;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;
}